.movie-card-img {
    height: 300px !important;
}

.search-title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: 'Open Sans Condensed', cursive;
  font-weight: 100 !important;
  font-size: 48px;
  text-align: center;
  text-decoration: none !important;
  color: #818181 !important;
}

.search-bar {
  margin-bottom: 40px;
}

.search-form {
  display: flex;
}

.search-form button {
  margin-left: 5px;
}

.movie-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.movie-details {
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    width: 800px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.movie-img {
    margin-right: 20px;
    height: 450px;
}

.movie-details-th {
    width: 20%;
    text-align: right !important;
}

.movie-details-td {
    width: 80%;
}
